This file was created to unify columns, because given file consist of data accumulated from many files.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = 'C:/Users/Patrycja/Desktop/Uni Koblenz/CSS/GermansFoodPreferences/data_V2.csv'

In [3]:
df = pd.read_csv(path, sep=',', encoding='ISO-8859-1')

In [4]:
df.head()

,date,recipe_id,country,region,city,categories
0,08.07.2013 00:14,87621.0,DE,5.0,Frankfurt_Am_Main,"['Thueringer Kueche', 'Zwischengericht', 'ohne..."
1,08.07.2013 00:15,206682.0,DE,5.0,Frankfurt_Am_Main,"['Kuchen/Torte', 'Dessert', 'ohne Weizen']"
2,08.07.2013 00:15,342535.0,DE,5.0,Frankfurt_Am_Main,"['Dips/Cremes/Saucen', 'Exotische Kueche', 'oh..."
3,08.07.2013 00:16,368688.0,DE,5.0,Frankfurt_Am_Main,"['kalt', 'mit Alkohol', 'Zwischenmahlzeit', 'H..."
4,08.07.2013 00:16,177274.0,DE,5.0,Frankfurt_Am_Main,"['Auflauf /Ueberbackenes', 'Brot', 'Eingemacht..."

## Extract date, time and season

In [7]:
df['day'] = [day_hour[0] for day_hour in (date.split(' ') for date in df.date)]
df['hour'] = [day_hour[1] for day_hour in (date.split(' ') for date in df.date)]

In [8]:
df.head()

,date,recipe_id,country,region,city,categories,day,hour
0,08.07.2013 00:14,87621.0,DE,5.0,Frankfurt_Am_Main,"['Thueringer Kueche', 'Zwischengericht', 'ohne...",08.07.2013,00:14
1,08.07.2013 00:15,206682.0,DE,5.0,Frankfurt_Am_Main,"['Kuchen/Torte', 'Dessert', 'ohne Weizen']",08.07.2013,00:15
2,08.07.2013 00:15,342535.0,DE,5.0,Frankfurt_Am_Main,"['Dips/Cremes/Saucen', 'Exotische Kueche', 'oh...",08.07.2013,00:15
3,08.07.2013 00:16,368688.0,DE,5.0,Frankfurt_Am_Main,"['kalt', 'mit Alkohol', 'Zwischenmahlzeit', 'H...",08.07.2013,00:16
4,08.07.2013 00:16,177274.0,DE,5.0,Frankfurt_Am_Main,"['Auflauf /Ueberbackenes', 'Brot', 'Eingemacht...",08.07.2013,00:16

In [9]:
dates = [date_time[0] for date_time in (date_time.split(' ') for date_time in df.date)]
print('The list contains', len(dates), 'elements. The dataframe contains', len(df), 'elements.')

The list contains 1610582 elements. The dataframe contains 1610582 elements.

### Unify formatting

In [10]:
import datetime

In [11]:
dates_unified = []
for date in dates:
    try:
        dates_unified += [datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%d/%m/%Y')]
    except ValueError:
        try:
            dates_unified += [datetime.datetime.strptime(date, '%d.%m.%Y').strftime('%d/%m/%Y')]
        except ValueError:
            try:
                dates_unified += [datetime.datetime.strptime(date, '%m/%d/%y').strftime('%d/%m/%Y')]
            except ValueError:
                dates_unified += [datetime.datetime.strptime(date, '%m/%d/%Y').strftime('%d/%m/%Y')]

In [12]:
df.day = dates_unified

In [13]:
df.head()

,date,recipe_id,country,region,city,categories,day,hour
0,08.07.2013 00:14,87621.0,DE,5.0,Frankfurt_Am_Main,"['Thueringer Kueche', 'Zwischengericht', 'ohne...",08/07/2013,00:14
1,08.07.2013 00:15,206682.0,DE,5.0,Frankfurt_Am_Main,"['Kuchen/Torte', 'Dessert', 'ohne Weizen']",08/07/2013,00:15
2,08.07.2013 00:15,342535.0,DE,5.0,Frankfurt_Am_Main,"['Dips/Cremes/Saucen', 'Exotische Kueche', 'oh...",08/07/2013,00:15
3,08.07.2013 00:16,368688.0,DE,5.0,Frankfurt_Am_Main,"['kalt', 'mit Alkohol', 'Zwischenmahlzeit', 'H...",08/07/2013,00:16
4,08.07.2013 00:16,177274.0,DE,5.0,Frankfurt_Am_Main,"['Auflauf /Ueberbackenes', 'Brot', 'Eingemacht...",08/07/2013,00:16

In [14]:
print('Min:', min(dates_unified),'\nMax:', max(dates_unified))
print("It doesn't compare correctly.")

Min: 01/01/2014
Max: 31/07/2013
It doesn't compare correctly.

In [23]:
print('Dates we have:')
set(dates_unified)

Dates we have:

{'01/01/2014',
 '01/02/2014',
 '01/07/2013',
 '02/01/2014',
 '02/07/2013',
 '03/01/2014',
 '03/07/2013',
 '04/01/2014',
 '04/07/2013',
 '05/01/2014',
 '05/07/2013',
 '06/01/2014',
 '06/07/2013',
 '07/01/2014',
 '07/07/2013',
 '08/01/2014',
 '08/07/2013',
 '09/01/2014',
 '09/07/2013',
 '10/01/2014',
 '10/07/2013',
 '11/01/2014',
 '11/07/2013',
 '12/01/2014',
 '12/07/2013',
 '13/01/2014',
 '13/07/2013',
 '14/01/2014',
 '14/07/2013',
 '15/01/2014',
 '15/07/2013',
 '16/07/2013',
 '17/07/2013',
 '18/07/2013',
 '19/07/2013',
 '20/07/2013',
 '21/07/2013',
 '22/07/2013',
 '23/07/2013',
 '24/07/2013',
 '25/07/2013',
 '26/07/2013',
 '27/07/2013',
 '28/07/2013',
 '29/07/2013',
 '30/07/2013',
 '31/07/2013'}

In [15]:
df['season'] = ['summer' if datetime.datetime.strptime(day, '%d/%m/%Y').month == 7 else 'winter' for day in df.day]

In [16]:
df.head()

,date,recipe_id,country,region,city,categories,day,hour,season
0,08.07.2013 00:14,87621.0,DE,5.0,Frankfurt_Am_Main,"['Thueringer Kueche', 'Zwischengericht', 'ohne...",08/07/2013,00:14,summer
1,08.07.2013 00:15,206682.0,DE,5.0,Frankfurt_Am_Main,"['Kuchen/Torte', 'Dessert', 'ohne Weizen']",08/07/2013,00:15,summer
2,08.07.2013 00:15,342535.0,DE,5.0,Frankfurt_Am_Main,"['Dips/Cremes/Saucen', 'Exotische Kueche', 'oh...",08/07/2013,00:15,summer
3,08.07.2013 00:16,368688.0,DE,5.0,Frankfurt_Am_Main,"['kalt', 'mit Alkohol', 'Zwischenmahlzeit', 'H...",08/07/2013,00:16,summer
4,08.07.2013 00:16,177274.0,DE,5.0,Frankfurt_Am_Main,"['Auflauf /Ueberbackenes', 'Brot', 'Eingemacht...",08/07/2013,00:16,summer

In [17]:
df.tail()

,date,recipe_id,country,region,city,categories,day,hour,season
1610577,1/6/2014 15:19,464982.0,DE,4.0,Hamburg,"['Hauptspeise', 'Abendessen', 'Mittagstisch', ...",06/01/2014,15:19,winter
1610578,1/6/2014 15:19,282818.0,DE,7.0,Koeln,"['Europa', 'Auflauf /Ueberbackenes', 'Suppen/E...",06/01/2014,15:19,winter
1610579,1/6/2014 15:19,302669.0,DE,7.0,Koeln,"['Fleisch', 'Rheinische Kueche', 'Westfaelisch...",06/01/2014,15:19,winter
1610580,1/6/2014 15:19,233349.0,DE,2.0,Munich,"['Konfekt/Suessware', 'Kaffee & Kuchen', 'glut...",06/01/2014,15:19,winter
1610581,1/6/2014 15:19,350507.0,DE,16.0,Berlin,"['Fisch', 'Salate', 'Zwischenmahlzeit', 'Abend...",06/01/2014,15:19,winter

## Unify cities names

In [18]:
df.nunique()

date          1165436
recipe_id      223557
country             1
region              7
city               11
categories     110089
day                47
hour           435488
season              2
dtype: int64

In [20]:
set(df['city'])

{'Berlin',
 'Bremerhaven',
 'Darmstadt',
 'Erlangen',
 'Frankfurt_Am_Main',
 'Hamburg',
 'K??ln',
 'Koeln',
 'Munich',
 'Potsdam',
 'Siegen',
 nan}

In [22]:
df['city'] = ['Koeln' if c == 'K??ln' else c for c in df['city']]

In [23]:
set(df['city'])

{'Berlin',
 'Bremerhaven',
 'Darmstadt',
 'Erlangen',
 'Frankfurt_Am_Main',
 'Hamburg',
 'Koeln',
 'Munich',
 'Potsdam',
 'Siegen',
 nan}

## Remove duplicates

In [27]:
duplicated_count = sum(df.duplicated())
print(duplicated_count, '/', len(df), '(', np.round(duplicated_count/len(df)*100,2)  , '%)are duplicated.')

89143 / 1610582 ( 5.53 %)are duplicated.

In [28]:
df = df.drop_duplicates()
len(df)

1521439

# Save changed data to a file

In [30]:
f= open('data_V3.csv', 'w')
df.to_csv(f, index=None, header=True, encoding='utf-8', sep=',')
f.close()

In [31]:
df1 = pd.read_csv('data_V3.csv', sep=',', encoding="ISO-8859-1")
print((len(df1)))
df1.head()

1521439

,date,recipe_id,country,region,city,categories,day,hour,season
0,08.07.2013 00:14,87621.0,DE,5.0,Frankfurt_Am_Main,"['Thueringer Kueche', 'Zwischengericht', 'ohne...",08/07/2013,00:14,summer
1,08.07.2013 00:15,206682.0,DE,5.0,Frankfurt_Am_Main,"['Kuchen/Torte', 'Dessert', 'ohne Weizen']",08/07/2013,00:15,summer
2,08.07.2013 00:15,342535.0,DE,5.0,Frankfurt_Am_Main,"['Dips/Cremes/Saucen', 'Exotische Kueche', 'oh...",08/07/2013,00:15,summer
3,08.07.2013 00:16,368688.0,DE,5.0,Frankfurt_Am_Main,"['kalt', 'mit Alkohol', 'Zwischenmahlzeit', 'H...",08/07/2013,00:16,summer
4,08.07.2013 00:16,177274.0,DE,5.0,Frankfurt_Am_Main,"['Auflauf /Ueberbackenes', 'Brot', 'Eingemacht...",08/07/2013,00:16,summer