# This file was created to split a big data file to many files to devide webscrapping task.

Remember to change path.

In [24]:
import pandas as pd

In [25]:
path = 'C:/Users/Patrycja/Desktop/Uni Koblenz/CSS/food_big_small_two_months/jan_big_small_city.csv'

In [26]:
df = pd.read_csv(path, sep=',')

In [27]:
print('Number of rows:', df.shape[0])
df.head()

Number of rows: 682397

,country,country_region,zip,city,date,target_link,origin_link,host_type,recipe_id
0,DE,5,-1,Frankfurt_Am_Main,2014-01-01 00:00:08,/rezept/131773/Striebele.html,-,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,131773
1,DE,5,-1,Frankfurt_Am_Main,2014-01-01 00:00:19,/rezept/467698/Hangop.html,-,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,467698
2,DE,5,-1,Frankfurt_Am_Main,2014-01-01 00:00:50,/rezept/128086/Eiersalat.html,-,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,128086
3,DE,5,-1,Frankfurt_Am_Main,2014-01-01 00:01:00,/rezept/183737/Stuffed-Potatoes.html,-,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,183737
4,DE,5,-1,Frankfurt_Am_Main,2014-01-01 00:01:10,/rezept/151362/Fruehlingszwiebeln-mit-Fleisch....,-,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,151362

## Test

In [44]:
def test_indexes(path, filesNum=5, sep=','):
    df = pd.read_csv(path, sep=sep)
    lines_per_file = df.shape[0]//filesNum
    
    i = 0
    for n in range(filesNum-1):
        path_to_save = 'files/data_' + str(n+1)+'.csv'
        print(path_to_save)
        print('\tfrom: ', i, 'to:', i + lines_per_file-1)
        i += lines_per_file

    path_to_save = 'files/data_' + str(filesNum)+'.csv'
    print(path_to_save)
    print('\tfrom: ', i, 'to: the end')

In [45]:
test_indexes(path)

files/data_1.csv
	from:  0 to: 136478
files/data_2.csv
	from:  136479 to: 272957
files/data_3.csv
	from:  272958 to: 409436
files/data_4.csv
	from:  409437 to: 545915
files/data_5.csv
	from:  545916 to: the end

## Program

In [56]:
def splitFile(pathToRead, pathToSave, filesNum=5, sep=','):
    df = pd.read_csv(pathToRead, sep=sep)
    lines_per_file = df.shape[0]//filesNum
    
    i = 0
    for n in range(filesNum-1):
        path_to_save = pathToSave + '/data_' + str(n+1)+'.csv'

        df_part = df[i: i + lines_per_file-1]
        i += lines_per_file
        with open(path_to_save,'w') as f:
            df_part.to_csv(f, index=None, header=df.columns.values, encoding='utf-8', sep=',')
            print('Data saved to:' + path_to_save)

    path_to_save = pathToSave + '/data_' + str(filesNum)+'.csv'
    with open(path_to_save,'w') as f:
        df[i:].to_csv(f, index=None, header=df.columns.values, encoding='utf-8', sep=',')
        print('Data saved to:' + path_to_save)

In [54]:
splitFile(path, 'files/jan')

Data saved to:files/data_1.csv
Data saved to:files/data_2.csv
Data saved to:files/data_3.csv
Data saved to:files/data_4.csv
Data saved to:files/data_5.csv

In [57]:
splitFile('C:/Users/Patrycja/Desktop/Uni Koblenz/CSS/food_big_small_two_months/july_big_small_city.csv', 'files/july')

Data saved to:files/july/data_1.csv
Data saved to:files/july/data_2.csv
Data saved to:files/july/data_3.csv
Data saved to:files/july/data_4.csv
Data saved to:files/july/data_5.csv