# This file was created to connect many small files into one big data file from specified folder.

In [11]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [4]:
path_to_folder = 'C:/Users/Patrycja/Desktop/Uni Koblenz/CSS/GermansFoodPreferences/scrapper/scrapped'

In [5]:
files_names = [f for f in listdir(path_to_folder) if isfile(join(path_to_folder, f))]
files_names

['scrapped_data_july_pati_czwartek.csv',
 'scrapped_data_july_pati_wednesday.csv',
 'scrapped_data_july_pati_wednesday_evening.csv',
 'scrapped_data_july_pati_wednesday_night.csv']

In [6]:
def connect_files(folderPath, sep=',', encoding="ISO-8859-1"):
    from os import listdir
    from os.path import isfile, join
    import pandas as pd
    
    files_names = [f for f in listdir(folderPath) if isfile(join(folderPath, f))]

    if len(files_names) == 1:
        return pd.read_csv(folderPath + '/' + files_names[0], sep=sep, encoding=encoding)
    
    # read first file
    result = pd.read_csv(folderPath + '/' + files_names[0], sep=sep, encoding=encoding)
    print('adding ', len(result),'rows...')
    
    # read another files
    if len(files_names) > 1:
        for file_name in files_names[1:]:
            df_temp = pd.read_csv(folderPath + '/' + file_name, sep=sep, encoding=encoding)
            print('adding ', len(df_temp),'rows...')
            result = result.append(df_temp)
    
    return result

In [7]:
df = connect_files(path_to_folder)
print('\n',len(df), 'rows added')

adding  30485 rows...
adding  79014 rows...
adding  6461 rows...
adding  48222 rows...

 164182 rows added

## Save new df as a file

In [8]:
path_to_save = path_to_folder + '/big_file.csv'

In [9]:
f= open(path_to_save, 'w')
df.to_csv(f, index=None, header=True, encoding='utf-8', sep=',')
f.close()

## Try to open it

In [12]:
df = pd.read_csv(path_to_save, sep=',', encoding="ISO-8859-1")#, encoding='utf8')

In [13]:
df.head()

,date,recipe_id,country,region,city,categories
0,2013-07-16 20:09:14,5019,DE,16,Berlin,"['Europa', 'Berliner Kueche', 'laktosefrei', '..."
1,2013-07-26 20:24:12,332084,DE,2,Munich,"['kalt', 'Europa', 'Italien', 'alkoholische Ge..."
2,2013-07-26 20:25:50,186710,DE,2,Munich,"['Indien', 'ohne Weizen']"
3,2013-07-26 20:26:40,233270,DE,5,Frankfurt_Am_Main,"['Braten (Fleisch)', 'Fleisch', 'Mittagstisch'..."
4,2013-07-16 20:11:07,222888,DE,7,Koeln,"['Griechenland', 'Salate', 'Milchprodukte', 'G..."

In [14]:
len(df)

164182